<% _.forEach(carriers, function(item) { %>
  <ul>
    <li><%= item.id %></li>
    <li><%= item.city %></li>
    <li><%= item.fax %></li>
    <li><%= item.maxShips %></li>
    <li><%= item.phone %></li>
    <li><%= item.maxTEU %></li>
    <li><%= item.email %></li>
    <li><%= item.postcode %></li>
    <li><%= item.regions %></li>
    <li><%= item.address %></li>
    <li><%= item.website %></li>
    <li><%= item.description %></li>
    <li><%= item.established %></li>
    <li><%= item.countryId %></li>
    <li><%= item.countryName %></li>
    <li><%= item.scac %></li>
    <li><%= item.carrierGroup %></li>
    <li><%= item.company %></li>
    <li><%= item.yearEstablished %></li>
    <li><%= item.name %></li>
  </ul>
<% }); 
%>
<p> <%  print(searchId || "not a search"); %> </p>

<!--
	Added:
<%= item.yearBuilt %>
<%= item.type %>
-->

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Email</title>
		<style type="text/css">
			.schedule-tr:nth-of-type(4n + 1) {
				background-color: #ffffff;
			} 
			.schedule-tr:first-of-type {
				background-color: #ffffff;
			} 
        	@media only screen and (max-width: 800px) {
        		.container-table {
        			width: 100% !important;
        		}
        	}
        	@media only screen and (max-width: 599px) {
        		.schedule-tr,
        		.schedule-td {
        			display: block;
        			text-align: center;
        		}
        		.hide599 {
        			display: none;
        		}
        	}
        </style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body bgcolor="#efefef" style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
    			<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
 					<tr>
					  	<td align="left" style="padding: 30px 30px 30px 30px;" width="45%">
							 <a href="https://www.linescape.com/">
								<img style="max-width: 250px; min-width: 100px;" src="cid:linescape-loge-gradient-image" height="auto" style="width: 90%" width="90%"/>
							</a>
						</td>
						<td align="right">
						</td>
					</tr>
				</table>
				<table background="<% print(website || 'https://www.linescape.com'); %>/img/shipping-schedule-results-background.jpg" bgcolor="#4286f4" class="container-table" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse; background-color: #4286f4;">
				<% _.forEach(carriers, function(item) { %>
        	<tr>
						<td style="font-family: Trebuchet, Helvetica, sans-serif; color: #ffffff;text-align: center;display:block;">
					 		<h3 style="font-weight: 700; margin-top: 5px;margin-bottom: 0;padding-top: 50px; padding-bottom: 10px; font-size: 28px;"><%= item.company %> Data Results</h3>
					 		<h6 style="color: #ffffff; margin-top: 0; margin-bottom: 50px; font-size: 18px;	font-weight: 400;">Headquarters: <%= item.city %>, <%= item.country.name %></h6>
					   	</td>
					</tr>
          <% }); 
          %>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #1c1c1c;display:block; 	line-height: 30px;">
						<td>
							<p style="font-family: Trebuchet, Helvetica, sans-serif; font-size: 18px; color: #1c1c1c; display:block; line-height: 30px;"><% print(limit || ''); %> of <% print(total || ''); %> Carrier Data Results - <a href="<% print(website || 'https://www.linescape.com'); %>/carriers/<%  print(itemId || 'not a search'); %>">View All <% print(total || ''); %> results</a></p>
						</td>
					</tr>
				</table>
				<table class="container-table" align="center" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr class="schedule-holder-row" style="padding: 10px 20px;">
						<td style="padding: 10px 20px;" align="center">
							<table align="center" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; padding: 10px;">
                <% _.forEach(carriers, function(item) { %>
                <!-- will need to loop through carrier's vessels not carrier's' stats' -->
								<tr class="schedule-tr" bgcolor="#e5e5e5" style="border-width: 1px; border-radius: 1px; border-style: solid; border-color: #c1c1c1;margin-bottom: 25px;">
									<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif; font-weight: bold;" >
										<p style="line-height: 22px;padding-left: 10px; padding-right: 10px;padding-top: 12px; padding-bottom: 12px;"><b>Vessel Name</b><br><%= item.name %></p>
									</td>
                  <td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
										<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;"><b>TEU</b><br><%= item.maxTEU %></p>
									</td>
                  <td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
										<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;"><b>Flag</b><br><%= item.country.name %></p>
									</td>
									<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
										<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;"><b>Year</b><br><%= item.yearBuilt %></p>
									</td>
									<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
										<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;"><b>Type</b><br><%= item.type %></p>
									</td>
								</tr>
								<tr class="schedule-tr" bgcolor="#ffffff" style="height: 20px; padding: 10px; border-width: 0px; border-radius: 1px; border-style: solid; border-color: #ffffff;margin-bottom: 25px;">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
                <% }); 
                %>
							</table>
						</td>
					</tr>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px;">
						<td  style="border-bottom: 1px solid #efefef; padding: 20px 20px 25px 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #ffffff;text-align: center;display:block; ">
					 		<p style="background-color: #2798d8;margin-top: 5px;margin-bottom: 5px; display:block; padding-top: 10px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px;font-weight: 400; margin-left: auto; margin-right: auto;"><a style="text-decoration:none;color:#ffffff;" href="<% print(website || 'https://www.linescape.com'); %>/carriers/<%  print(carrierId || 'not a search'); %>">View All <% print(total || ''); %> results</a></p>
					   	</td>
					</tr>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #1c1c1c;display:block; 	line-height: 30px;">
						<td>
							<p style="font-family: Trebuchet, Helvetica, sans-serif; font-size: 18px; color: #1c1c1c; display:block; line-height: 30px;">This message has been sent by linescape's data by email feature. The data by email settings can be configured on linescape's <a href="<% print(website || 'https://www.linescape.com'); %>/data-email;">data by email page</a></p>
						</td>
					</tr>
				</table>
  		</tr>
 	</table>
 	<table class="container-table" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
 		<tr align="center">
 			<td>
 				<p style="color: #1c1c1c; font-family: Trebuchet, Helvetica, sans-serif;">Copyright &copy; <%= (new Date()).getFullYear() %> Linescape. All rights reserved.</p>
 			</td>
 		</tr>
 	</table>
</body>
</html>