<!-- <h1>
Contact Form
</h1>
<p>From: <%  print(contact.from || "no name"); %> </p>
<p>Email: <%  print(contact.email || "no email"); %> </p>
<p>Company: <%  print(contact.company || "no company"); %> </p>
<p>Position: <%  print(contact.position || "no position"); %> </p>
<p>Telephone: <%  print(contact.telephone || "no telephone"); %> </p>
<p>Country: <%  print(contact.country || "no country"); %> </p>
<p>Message: <%  print(contact.message || "no message"); %> </p>

<p>Thank you for submitting the following request to Linescape. One of our representatives will respond as soon as possible</p>
<a href="<%= website %>"><img style="max-width: 250px; min-width: 100px;" src="<%= website %>/img/linescape-logo-gradient.png" height="auto" style="width: 90%" width="90%"/></a> -->

<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Email</title>
	<style type="text/css">
		.schedule-tr:nth-of-type(4n + 1) {
			background-color: #ffffff;
		}

		.schedule-tr:first-of-type {
			background-color: #ffffff;
		}

		@media only screen and (max-width: 800px) {
			.container-table {
				width: 100% !important;
			}
		}

		@media only screen and (max-width: 599px) {

			.schedule-tr,
			.schedule-td {
				display: block;
				text-align: center;
			}

			.hide599 {
				display: none;
			}
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body bgcolor="#efefef" style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0"
					cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr>
						<td align="left" style="padding: 30px 30px 30px 30px;" width="45%">
							<a href="<%= website %>">
								<img style="max-width: 250px; min-width: 100px;"
									src="cid:linescape-loge-gradient-image" height="auto"
									style="width: 90%" width="90%" />
							</a>
						</td>
						<td align="right">
						</td>
					</tr>
				</table>
				<table background="<%= website %>/img/shipping-schedule-results-background.jpg" bgcolor="#4286f4"
					class="container-table" align="center" border="0" cellpadding="0" cellspacing="0" width="800"
					style="border-collapse: collapse; background-color: #4286f4;">
					<tr>
						<td
							style="font-family: Trebuchet, Helvetica, sans-serif; color: #ffffff;text-align: center;display:block;">
							<h3
								style="font-weight: 300; margin-top: 5px;margin-bottom: 0;padding: 30px 120px; font-size: 27px;">
								Thank you for submitting the following request to Linescape. One of our representatives
								will respond as soon as possible.
							</h3>
						</td>
					</tr>
				</table>

				<table align="center" style="width: 800px; padding: 0px 30px;">
					<tr>
						<td>
							<h3
								style="font-weight: 400; margin-top: 5px;margin-bottom: 0; font-size: 22px; text-align: left; padding-top: 10px;">
								Contact Form
							</h3>
							<div class="contact-content" style="text-align: left;">
								<p>From: <%  print(contact.from || "no name"); %> </p>
								<p>Email: <%  print(contact.email || "no email"); %> </p>
								<p>Domain: <%  print(contact.domain || "no domain"); %> </p>
								<p>Company: <%  print(contact.company || "no company"); %> </p>
								<p>Position: <%  print(contact.position || "no position"); %> </p>
								<p>Telephone: <%  print(contact.telephone || "no telephone"); %> </p>
								<p>Country: <%  print(contact.country || "no country"); %> </p>
								<p>Message: <%  print(contact.message || "no message"); %> </p>
							</div>
						</td>
					</tr>



				</table>
			</td>
		</tr>
	</table>

	<!-- <h1 style="font-weight: 600; font-size: 22px;">
Contact Form
</h1>
<p>From: <%  print(contact.from || "no name"); %> </p>
<p>Email: <%  print(contact.email || "no email"); %> </p>
<p>Company: <%  print(contact.company || "no company"); %> </p>
<p>Position: <%  print(contact.position || "no position"); %> </p>
<p>Telephone: <%  print(contact.telephone || "no telephone"); %> </p>
<p>Country: <%  print(contact.country || "no country"); %> </p>
<p>Message: <%  print(contact.message || "no message"); %> </p> -->

	<table class="container-table" align="center" border="0" cellpadding="0" cellspacing="0" width="800"
		style="border-collapse: collapse;">
		<tr align="center">
			<td>
				<p style="color: #1c1c1c; font-family: Trebuchet, Helvetica, sans-serif; padding-top: 85px;">Copyright
					&copy;
					<%= (new Date()).getFullYear() %> Linescape. All rights reserved.</p>
			</td>
		</tr>
	</table>