<% _.forEach(locations, function(item) { %>
  <ul>
    <li><%= item.id %></li>
    <li><%= item.type %></li>
    <li><%= item.name %></li>
  </ul>
<% }); 
%>
<p> <%  print(searchId || "not a search"); %> </p>