<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Email</title>
	<style type="text/css">
		.schedule-tr:nth-of-type(4n + 1) {
			background-color: #ffffff;
		}

		.schedule-tr:first-of-type {
			background-color: #ffffff;
		}

		@media only screen and (max-width: 800px) {
			.container-table {
				width: 100% !important;
			}
		}

		@media only screen and (max-width: 599px) {
			.schedule-tr,
			.schedule-td {
				display: block;
				text-align: center;
			}
			.hide599 {
				display: none;
			}
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body bgcolor="#efefef" style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr>
						<td align="left" style="padding: 30px 30px 30px 30px;" width="45%">
							<a href="<%= website %>">
								 <img style="max-width: 250px; min-width: 100px;" src="<cid:linescape-loge-gradient-image" height="auto" style="width: 90%"
								 width="90%" />
							</a>
						</td>
						<td align="right">
						</td>
					</tr>
				</table>
				<table background="<%= website %>/img/shipping-schedule-results-background.jpg" bgcolor="#4286f4" class="container-table"
				 align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse; background-color: #4286f4;">
					<tr>
						<td style="font-family: Trebuchet, Helvetica, sans-serif; color: #ffffff;text-align: center;display:block;">
							<h3 style="font-weight: 700; margin-top: 5px;margin-bottom: 0;padding-top: 20px; padding-bottom: 20px; font-size: 28px;">Port Arrivals/Departures at:
								<br>
								<%= portName %>
									<%  print(startDate || ''); %> to
										<% print(endDate || ''); %>
							</h3>
						</td>
					</tr>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #1c1c1c;display:block; line-height: 30px; padding-bottom: 0; padding-top: 10px;">
						<td>
							<p style="font-family: Trebuchet, Helvetica, sans-serif; font-size: 18px; color: #1c1c1c; display:block; line-height: 20px; margin-bottom: 5px;">
								<% print(limit || ''); %> of
									<% print(total || ''); %> Port Search Results -
										<a href="<% print(website || 'https://www.linescape.com'); %>/ports/<%  print(portId || 'not a search'); %>;date=<%  print(startDate || 'not a search'); %>">View All
											<% print(total || ''); %> results</a>
							</p>
						</td>
					</tr>
				</table>
				<table class="container-table" align="center" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0"
				 width="800" style="border-collapse: collapse;">
					<tr class="schedule-holder-row" style="padding: 10px 20px;">
						<td style="padding: 10px 20px;" align="center">
							<table align="center" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; padding: 10px;">

								<!--- HEADER FOR TABLE-->
								<tr class="scheduler-tr" bgcolor="#f0f0f0" style="border-width: 1px; border-radius: 1px; border-style: solid; border-color: #c1c1c1;margin-bottom: 1px; border-right: none;">
									<!---Have to add empty table cell to push title to be over Carrier names-->
									<td></td>
									<td class="port-td" style="font-family: 'Lato', sans-serif; font-weight: bold; font-size: 18px;">
										<p style="line-height: 22px;padding-left: 10px; padding-right: 10px;padding-top: 5px; padding-bottom: 5px;">
											<b>Carrier</b>
										</p>
									</td>
									<td class="port-td" style="font-family: 'Lato', sans-serif; font-weight: bold; font-size: 18px;">
										<p style="line-height: 22px;padding-top: 5px; padding-bottom: 5px;">
											<b>Vessel/Voyage</b>
									</td>
									<td class="port-td" style="font-family: 'Lato', sans-serif; font-weight: bold; font-size: 18px;">
										<p style="line-height: 22px;padding-top: 5px; padding-bottom: 5px;">
											<b>ETA</b>
										</p>
									</td>
									<td class="port-td" style="font-family: 'Lato', sans-serif; border-right-width: 1px; border-right-style: solid; border-right-color: #c1c1c1; font-size: 18px;">
										<p style="line-height: 22px;padding-top: 5px; padding-bottom: 5px;">
											<b>ETD</b>
										</p>
									</td>
								</tr>

								<tr class="schedule-tr" bgcolor="#ffffff" style="height: 20px; padding: 10px; border-width: 0px; border-radius: 1px; border-style: solid; border-color: #ffffff;margin-bottom: 25px;">
									<td></td>
								</tr>

								<% _.forEach(ports, function(item) { %>
									<tr class="schedule-tr" bgcolor="#e5e5e5" style="border-width: 1px; border-radius: 1px; border-style: solid; border-color: #c1c1c1;margin-bottom: 25px; border-right: none;">
										<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
											<img width="40px;" style="padding-left: 10px; height: 40px;" src="<%= website %>/img/carriers/<%= item.carrierId %>.gif"
											/>
										</td>
										<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif; font-weight: bold;">
											<p style="line-height: 22px;padding-left: 10px; padding-right: 10px;padding-top: 12px; padding-bottom: 12px;">
												<%= item.carrierName %>
											</p>
										</td>
										<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
											<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;">
												<%= item.vesselName %>
													<br>
													<%= item.voyage %>
											</p>
										</td>
										<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif;">
											<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;">
												<br>
												<%= item.etaDate %>
													<br>&nbsp;</p>
										</td>
										<td class="schedule-td" style="font-family: Trebuchet, Helvetica, sans-serif; border-right-width: 1px; border-right-style: solid; border-right-color: #c1c1c1;">
											<p style="line-height: 22px;padding-top: 12px; padding-bottom: 12px;">
												<br>
												<%= item.etdDate %>
													<br>&nbsp;</p>
										</td>
									</tr>
									<tr class="schedule-tr" bgcolor="#ffffff" style="height: 20px; padding: 10px; border-width: 0px; border-radius: 1px; border-style: solid; border-color: #ffffff;margin-bottom: 25px;">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<% }); 
                %>
							</table>
						</td>
					</tr>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px;">
						<td style="border-bottom: 1px solid #efefef; padding: 20px 20px 25px 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #ffffff;text-align: center;display:block; ">
							<p style="background-color: #2798d8;margin-top: 5px;margin-bottom: 5px; display:block; padding-top: 10px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px;font-weight: 400; margin-left: auto; margin-right: auto;">
								<a style="text-decoration:none;color:#ffffff;" href="<% print(website || 'https://www.linescape.com'); %>/ports/<%  print(portId || 'not a search'); %>;date=<%  print(startDate || 'not a search'); %>">View All
									<% print(total || ''); %> results</a>
							</p>
						</td>
					</tr>
				</table>
				<table class="container-table" bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
					<tr style="padding: 20px; font-family: Trebuchet, Helvetica, sans-serif; font-size: 16px; color: #1c1c1c;display:block; 	line-height: 30px;">
						<td>
							<p style="font-family: Trebuchet, Helvetica, sans-serif; font-size: 18px; color: #1c1c1c; display:block; line-height: 30px;">This message has been sent by linescape's data by email feature. The data by email settings can be configured on linescape's
								<a href="<% print(website || 'https://www.linescape.com'); %>/data-email;">data by email page</a>
							</p>
						</td>
					</tr>
				</table>
		</tr>
	</table>
	<table class="container-table" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border-collapse: collapse;">
		<tr align="center">
			<td>
				<p style="color: #1c1c1c; font-family: Trebuchet, Helvetica, sans-serif;">Copyright &copy;
					<%= (new Date()).getFullYear() %> Linescape. All rights reserved.</p>
			</td>
		</tr>
	</table>
</body>

</html>